---
title: Usage
author: 
  - Dennis Lundberg
date: 2011-03-19
---

<!-- Licensed to the Apache Software Foundation (ASF) under one-->
<!-- or more contributor license agreements.  See the NOTICE file-->
<!-- distributed with this work for additional information-->
<!-- regarding copyright ownership.  The ASF licenses this file-->
<!-- to you under the Apache License, Version 2.0 (the-->
<!-- "License"); you may not use this file except in compliance-->
<!-- with the License.  You may obtain a copy of the License at-->
<!---->
<!--   http://www.apache.org/licenses/LICENSE-2.0-->
<!---->
<!-- Unless required by applicable law or agreed to in writing,-->
<!-- software distributed under the License is distributed on an-->
<!-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY-->
<!-- KIND, either express or implied.  See the License for the-->
<!-- specific language governing permissions and limitations-->
<!-- under the License.-->
# Usage

There is two different ways how one can sign with $project.artifactId:

1. Leveraging [GnuPG](https://gnupg.org/) (external program)
2. Leveraging [Bouncy Castle](https://www.bouncycastle.org/) (Java library, no external prerequisites)

<!-- MACRO{toc|fromDepth=2} -->

#[[##]]# Configure Plugin in POM

This is agnostic of the signing mechanism

Add the plugin to your `pom.xml` like this:

```unknown
<project>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-gpg-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <id>sign-artifacts</id>
            <phase>verify</phase><!-- this is the default phase, no need to configure explicitly -->
            <goals>
              <goal>sign</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
  ...
</project>
```

This will sign all attached artifacts of the current project during phase `verify`.

#[[##]]# Install/Deploy without configuring the plugin in the POM

Currently this is not easily accomplished. The goal `gpg:sign` signs the artifacts attached to the build at the point that this plugin runs. However, we want to &quot;inject&quot; the goal into the phases. What MIGHT work is:

```
mvn verify gpg:sign install:install deploy:deploy
```

However, if there are other plugins configured for phases after the `verify` phase, they will not be run.


#[[##]]# Sign using GnuPG

**Note:** The GpgSigner, that uses GnuPG tool installed and configured on the host OS, while it does contain support for older GnuPGP versions, is tested \(locally by developers and on CI systems\) only by using [latest &quot;stable&quot; GnuPG version](https://www.gnupg.org/download/index.html) \(scroll to bottom of page for EOL information\).

#[[###]]# Prerequisites

- `gpg` needs to be [installed](https://gnupg.org/download/index.html#binary) and available in the search path
- The secret key to be used must be added to GnuPG's keyring

Signing will just invoke `gpg` with some parameter to have artifacts in form of files on the filesystem signed. If nothing else is configured the *default primary key* from GnuPG will be used for signing.
You can configure a different secret key with parameter `keyname`.
Refer to [Passphrases](passphrase.html) on how an optional passphrase may be passed.

#[[##]]# Sign using Bouncy Castle

By default the plugin uses the &quot;gpg&quot; Signer \(that relies on GnuPG tool installed on host OS\). The &quot;bc&quot; Signer on the other hand implements signing in pure Java using Bouncy Castle libraries.

#[[###]]# Prerequisites

- Secret key to use for signing in TSK format \(see [&quot;Transferable Secret Keys&quot;](https://openpgp.dev/book/private_keys.html#transferable-secret-key-format) format\).
- Parameter `gpg.signer` set to `bc`

The &quot;bc&quot; signer, unlike &quot;gpg&quot;, does not and cannot make use of `~/.gnupg` directory in user home, and have to have configured both, the key used to sign and the passphrase \(if key is passphrase protected\).

```
mvn deploy -Dgpg.signer=bc -Dgpg.keyFilePath=path/to/key
```

The key can also be passed as environment variable:

```
MAVEN_GPG_KEY=thekeymaterial mvn deploy -Dgpg.signer=bc
```

Refer to [Passphrases](passphrase.html) on how an optional passphrase may be passed.
